extends layout

block content
	div(class='body-fixed-menu')
		div(class="ui two column segment doubling stackable grid container" style="text-align:center;")
			div(class="column center-div" id='dropzone')
				form(action='/photo' class="ui form dropzone" enctype="multipart/form-data" id="myAwesomeDropzone")
					div(class="dz-default dz-message" style="padding:15%;")
						span Photo
					div(class="ui error message err-message")
						ul(class="list invalid-input-msg")
							li Vous avez déja 5 photos.
			div(class="column center-div" id='user-images')
				- for (var i = 0; i < img.length; i++)
					- if (img[i].path)
						- if ( img[i].main)
							div(class="ui img-main img-list image")
								img(class='' src='#{img[i].path}')
								div(class="ui buttons img-button" style='display: none')
									button(class="ui button del-img")
										i(class="trash outline icon")
									div(class="or")
									button(class="ui positive button save-main-img")
										i(class="save icon")
						- else
							div(class="ui img-list image")
								img(class='' src='#{img[i].path}')
								div(class="ui buttons img-button" style='display: none')
									button(class="ui button del-img")
										i(class="trash outline icon")
									div(class="or")
									button(class="ui positive button save-main-img")
										i(class="save icon")
		div(class="ui one segment column doubling stackable grid container")
			div(class="column" style='max-width: 100% !important;')
				form(action='/editProfile' id='edit-profile-form' class="ui form")
					div(class="field")
						div(class="four fields")
							div(class="field")
								label Nom :
								input(type="text" name="name" placeholder="Nom" value='#{from.name}')
							div(class="field")
								label Prénom :
								input(type="text" name="first_name" placeholder="Prénom" value='#{from.first_name}')
							div(class="field")
								label Sexe :
								div(class='ui fluid dropdown selection' tabindex="0")
									select
										- if (from.sex == '')
											option(value='')
											option(value='H')
											option(value='F')
										- if (from.sex == 'H')
											option(value='H')
											option(value='F')
											option(value='')
										- if (from.sex == 'F')
											option(value='F')
											option(value='')
											option(value='H')
									i(class="dropdown icon")
									div(class="default text")
									div(class="menu"  name='sex' id='sex' tabindex="-1")
										div(class='item' data-value='')
										div(class='item' data-value='H') Homme
										div(class='item' data-value='F') Femme
							div(class="field")
								label Préférences :
								div(class='ui fluid dropdown selection' tabindex="0")
									select
										- if (from.sex_pref == 'F')
											option(value='F')
											option(value='H')
											option(value='B')
										- if (from.sex_pref == 'H')
											option(value='H')
											option(value='F')
											option(value='B')
										- if (from.sex_pref == 'B')
											option(value='B')
											option(value='F')
											option(value='H')
									i(class="dropdown icon")
									div(class="default text")
									div(class="menu" name='sex_pref' id='sex-pref' tabindex="-1")
										div(class='item' data-value='B') Homme et Femme
										div(class='item' data-value='H') Homme
										div(class='item' data-value='F') Femme
						div(class="four fields")
							div(class="field")
								label Mail :
								input(type="text" name="mail" placeholder="E-mail adresse" value='#{from.mail}')
							div(class="field")
								label Mail confirmation :
								input(type="text" name="mail_confirm" placeholder="E-mail adresse confirmation" value='#{from.mail}')
							div(class="field")
								label Mot de passe :
								input(type="password" name="passwd" placeholder="Mot de passe" value='')
							div(class="field")
								label Mot de passe confirmation :
								input(type="password" name="passwd_confirm" placeholder="Mot de passe confirmation" value='')
					div(class="field")
						label Biographie:
						textarea(id='bio-edit') #{from.bio}
					button(class="ui inverted blue button" id='edit-profile-submit' style='width: 100%')
						i(class="save icon")
						| Sauvegarder
					div(class="ui error message err-message")
					div(class="ui success message success-message" )
						| Vos informations ont été sauvegardé.
		div(class="field")
			div(class="ui two column segment doubling stackable grid container" style="text-align:center;")
				input(type='text' name="tag" class='input-out-form' id='add-tag' placeholder="Nouveau tag")
		div(class="field")
			div(class="ui two column segment doubling stackable grid container" style="min-height:345px; text-align:center;")
				div(class="column center-div")
					div(class="field" style='overflow-y:auto; max-height:300px; margin-top: 2%;')
						table(class="ui purple table" id='my-tags' style='text-align:center')
							thead
								tr
									th Mes tags
									th Supprimer
							tbody
								- for (var i = 0; i < user_tags.length; i++)
									- if (user_tags[i])
										tr
											td 
												a(href="#") ##{user_tags[i]}
											td 
												button(class="circular ui icon button del-tag")
													i(class="trash outline icon")
				div(class="column center-div")
					div(class="field" style='overflow-y:auto; max-height:300px; margin-top: 2%;')
						table(class="ui purple table" id='global-tags' style='text-align:center')
							thead
								tr
									th Tags
							tbody
								- for (var i = 0; i < tags.length; i++)
										- if (tags[i])
											tr
												td 
													a(href="#") ##{tags[i]}