extends layout

block content
	div(class='body-fixed-menu text-color')
	div(class="ui container segment prof")
		div(class="ui four column segment doubling stackable grid container" style="text-align:center;")
			div(class="column center-div")
				input(id="min-age" title="Age min..." class="input-out-form" style="width: 40%; float: left" placeholder="Age min...")
				input(id="max-age" title="Age max..." class="input-out-form" style="width: 40%" placeholder="Age max...")
			div(class="column center-div")
				input(id="min-dist" title="Distance min..." class="input-out-form" style="width: 40%; float: left" placeholder="Distance min...")
				input(id="max-dist" title="Distance max..." class="input-out-form" style="width: 40%" placeholder="Distance max...")
			div(class="column center-div")
				input(id="min-pop" title="Popularité min..." class="input-out-form" style="width: 40%; float: left" placeholder="Popularité min...")
				input(id="max-pop" title="Popularité max..." class="input-out-form" style="width: 40%" placeholder="Popularité max...")
			div(class="column center-div")
				input(id="min-tag" title="Points communs min..." class="input-out-form" style="width: 40%; float: left" placeholder="Points communs min...")
				input(id="max-tag" title="Points communs max..." class="input-out-form" style="width: 40%" placeholder="Points communs max...")
		div(class="ui four column segment doubling stackable grid container" style="text-align:center;")
			div(class="colum")
				button(class="ui button inverted green" id="tri-age" style="width:100%;") Age
			div(class="colum")
				button(class="ui button inverted blue" id="tri-dist" style="width:100%;") Distance
			div(class="colum")
				button(class="ui button inverted red" id="tri-pop" style="width:100%;") Popularité
			div(class="colum")
				button(class="ui button inverted purple" id="tri-tags" style="width:100%;") Tags
		- for (var i = 0; i < profils.length; i++)
			div(class="ui del card" style="display:inline-block; margin-left: 5%;")
				a(class="image" href="/profile/#{profils[i].id}")
					img(src="#{profils[i].path}")
				div(class="content" login="#{profils[i].login}")
					a(class="header modal-member" login="#{profils[i].login}" style="display:inline-block;")
						- if (profils[i].sex == 'H')
							i(class="man sex blue icon" sex="man")
						- else
							i(class="woman sex pink icon" sex="woman")
						| #{profils[i].login}
					a(class="meta pop" pop="#{profils[i].pop}" style="float: right; display:inline-block;") 
						| #{profils[i].pop}
						i(class="heart red icon" style="margin-left: 3px;") 
					div(class="meta")
						a(class="age" age="#{profils[i].age}" dist="#{profils[i].dist}") #{profils[i].age} ans
						a(style="float: right;") #{profils[i].dist} km
			div(class="ui del modal" id="#{profils[i].login}")
				div(class="header")
					- if (profils[i].sex == 'H')
						i(class="man blue icon")
					- else
						i(class="woman pink icon")
					| #{profils[i].login}
				div(class="image content")
					div(class="ui medium image")
						img(src="#{profils[i].path}")
					div(class="description")
						div(class="ui header")
							|  Intérêts communs:
						p
							- for (var j = 0; j < profils[i].tags.length; j++)
								a(style="margin: 4px;" class="ui label purple tags" test="#{profils[i].tags[j]}") ##{profils[i].tags[j]}
				div(class="actions")
					div(class="ui black deny button")
						| Ignorer
					a(class="ui positive right labeled icon button" href="/profile/#{profils[i].id}")
						| Visiter son profil
						i(class="checkmark icon")